<nav class="nav-bar d-flex justify-content-between align-items-center">

  <div id="nav-left" class="d-flex justify-content-around align-items-center">
    <a href="/admin">
      <img src="/namaste/namaste_logo.png" alt="logo" id="nav-logo">
    </a>
    <div id="nav-studio-name">
      <a href="/admin">Namaste</a>
    </div>
  </div>
    
  <div id="nav-right" class="d-flex justify-content-around align-items-center">
    <ul id="nav-links" class="d-flex align-items-center">

      <li class="nav-li">
        <a href="/admin/studio" class="nav-link">
          建立 Studio
        </a>
      </li>
      <li class="nav-li">
        <a href="/admin/dashboard" class="nav-link">
          Dashboard
        </a>
      </li>
      <li class="nav-li">
        <a href="/user/logout" class="nav-link login-logout">
          Logout
        </a>
      </li>
    </ul>
  </div>

</nav>