<nav class="nav-bar d-flex justify-concent-evenly align-items-end">

  <div id="nav-left" class="d-flex justify-concent-around align-items-end">
    <img src={{ studio.logo }} alt="logo" id="nav-logo">
    <div id="nav-studio-name">{{ studio.name }}</div>
  </div>
    
  <div id="nav-right" class="d-flex justify-concent-around align-items-center">
    <ul id="nav-links" class="d-flex">

      <li class="nav-li">
        <a href="/admin/studio" class="nav-link">
          建立 Studio
        </a>
      </li>
      <li class="nav-li">
        <a href="/admin/dashboard" class="nav-link">
          Dashboard
        </a>
      </li>
      <li class="nav-li">
        <a href="/admin/logout" class="nav-link">
          Logout
        </a>
      </li>
    </ul>
  </div>

</nav>