* {
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 0;
}



/* flex related */
.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-end {
  justify-content: end;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: end;
}

.align-items-stretch {
  align-items: stretch;
}
/* flex related */





#curriculum {
  /* border: 1px solid red; */
  margin: 40px 50px 70px 50px;
}

#morning-section,
#evening-section {
  background-color: #fff6ea;
}

#afternoon-section {
  background-color: #fafff0;
}

.period {
  /* margin: auto auto; */
  width: 170px;
  text-align: center;
  padding: 0 5px 0 5px;
  border-right: rgb(194, 194, 194) 1px solid;
  border-left: rgb(194, 194, 194) 1px solid;
}

.course-detail {
  margin: 5px 0;
  background-color: #655848;
}

.course-detail>* {
  color: #ffffff;
}

.course-detail>button {
  display: block;
  min-height: 25px;
  width: 80%;
  color: #655848;
}

.course-detail>button:hover {
  cursor: pointer;
}